<div id="information">

</div>

<div id="logo">
  <h1>Patients Registration</h1>
</div>

<div id="programs">

</div>

<div id="main">

</div>

<div id="nav">
  <ul>
    <li>Overview</li>
    <li><%= link_to('Patients', patients_path, :class => 'action index') %></li>
    <li><%= link_to('Users', users_path, :class => 'action index') %></li> <!-- Restrict to admins through UAC checks -->
    <li><a href="#">Reports</a></li>
  </ul>
</div>

<div id=actions>
  <a href="#">Logout</a>
  <a href="#">Find or register patient</a>
</div>
