<h1 class="trunk-header">Home</h1>
<div class="row">
    <div class="col-md-2"></div>
    <a href="#" class="app-link col-md-4 col-sm-12" id="app-1-link">App 1</a>
    <div class="col-md-1"></div>
    <a href="#" class="app-link col-md-4 col-sm-12" id="app-2-link">App 2</a>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <a href="#" class="app-link col-md-4 col-sm-12" id="app-3-link">App 3</a>
    <div class="col-md-1"></div>
    <a href="#" class="app-link col-md-4 col-sm-12" id="app-4-link">App 4</a>
</div>