<h1 class="content-header">Home</h1>
<a href="#" class="app-link" id="app-1-link">App 1</a>
<a href="#" class="app-link" id="app-2-link">App 2</a>
<a href="#" class="app-link" id="app-3-link">App 3</a>
<a href="#" class="app-link" id="app-4-link">App 4</a>