<div id="header">
  <div id="information">
    <p>User: foobar</p>
    <p>Date: sdasdas</p>
  </div>

  <div id="logo">
    <p>Logo</p>
  </div>
</div>

<div id="content">
  <div id="programs">
    <h5 class="content-section-header">Programs</h5>
    <ul>
      <li><a href="#" id="programlinks" class='btn'> example </a></li>
      <li><a href="#" id="programlinks" class='btn'> example 2 </a></li>
    </ul>
  </div>

  <div id="main">
    <h5 class="content-section-header">Programs</h5>
  </div>

  <div id="nav">
    <h5 class="content-section-header">Programs</h5>
    <ul>
      <li>Overview</li>
      <li><%= link_to('Patients', patients_path, :class => 'action index') %></li>
      <li><%= link_to('Users', users_path, :class => 'action index') %></li> <!-- Restrict to admins through UAC checks -->
      <li><a href="#">Reports</a></li>
    </ul>
  </div>
</div>

<div id="footer">
  <a href="#" id="btn-logout" class="btn">Logout</a>
  <a href="#" id="btn-search-patient" class="btn">Find or register patient</a>
</div>