

<script type="text/javascript" charset="utf8">
$(document).ready( function () {
    $('#table_id').DataTable();
} );

</script>


<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Users</th>
            <th>Patients</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @reports['users']%></td>
            <td><%= @reports['patients']%></td>
        </tr>

    </tbody>
</table>

