<form action= '/user_authetication' method= 'POST'>

<%= text_field(:user, :username, 
    :helpText=> "Enter Username", 
    :textCase => "lower",
    :field_type => "password",
    :tt_pageonload=>"loadBarcodePage") %>

<%= password_field(:user, :password, 
    :helpText => "Enter Password", 
    :textCase => "lower",
    :field_type => "password") %>

</form>
