<form action="<%= users_create_path %>" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder"Username" helpText="Username" />

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password" />

  <label for="role">Role</label>
  <select name="role" helpText="Role" placeholder="Role">
    <option value="Admin">Admin</option>
    <option value="Clerk">Clerk</option>
  </select>

  <label for="firstname">First name</label>
  <input type="text" name="firstname" placeholder="First name" helpText="First name" />

  <label for="lastname">Last name</label>
  <input type="text" name="lastname" placeholder="Last name" helpText="Last name" />

  <label for="gender">Gender</label>
  <select name="gender" placeholder="Gender" helpText="Gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

  <label for="birthdate">Birth date</label>
  <input type="text" name="birthdate" placeholder="Birth date" helpText="Birth date" />

  <input type="submit" />
</form>