<form action="<%= patients_create_path %>" method="POST">
    <input type="text" name="firstname" placeholder="First name" value="<%= @firstname %>" />
    <input type="text" name="lastname" placeholder="Last name" value="<%= @lastname %>" />
    <select name="gender" placeholder="Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <input type="text" name="birthdate" placeholder="Birth date" />

    <input type="submit" />
</form>