// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$our-blue: rgb(52, 93, 181);
$h-padding: 15px;
$h-margin: 15px;
$v-margin: 10px;

body {
    margin-top: $v-margin;
    margin-left: $h-margin;
    margin-right: $h-margin;
}

#header {
    #information, #logo {
        border: 1px solid #004586;
        height: 120px;
        box-shadow: 5px 2px 5px 0 $our-blue;
    }

    #information {
        padding: 5px 5px 5px 15px;
    }

    #logo {
        padding: 0;
    }
}

//     .button{
//         color: white;
//         margin: 10%;
//         font-size: 14pt;
//         font-style: bold;
//         min-width: 5%;
//         min-height: 5%;
//         border-radius: 5px;
//         text-decoration: none;
//     }


#trunk {
    margin-top: $v-margin;
    min-height: 480px;
    border-spacing: 2px;
    border-color: grey;
    font: 14px "Lucida Grande",Helvetica,Arial,sans-serif;
    padding-left: $h-padding;
    padding-right: $h-padding;

    #programs, #main, #nav {
        border: 1px solid $our-blue;
        padding: 0;

        .trunk-header {
            top: 0;
            color: white;
            background-color: $our-blue;
            text-align: center;
            font-size: 12pt;
            min-height: 20px;
            padding: 5px;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            border-bottom: 1px solid $our-blue;
            margin: $h-padding;
            padding: 5px;
            color: $our-blue;
        }

        li.current {
            background-color: $our-blue;
            color: white;
        }
        
        li a, li:visited {
            color: inherit;
        }

        table {
            color: black;
            border-collapse: collapse;
            width: 80%;
            margin-left: 10%;

            th {
                font-weight: bold;
                text-align: left;
            }

            th, td {
                border-bottom: 1px solid silver;
                height: 32px;
            }
        }
    }

    #programs, #nav {
        a {
            text-decoration: none;
            font-weight: bold;
        }
    }

    #main {
        overflow-y: scroll;

        .app-link {
            padding: 10px;
            margin-top: $h-padding;
            margin-bottom: $h-padding;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            background-color: blue;
            color: whitesmoke;
        }

        #app-2-link {
            background-color: green;
        }

        #app-3-link {
            background-color: red;
        }

        #app-4-link {
            background-color: orange;
        }
    }

    #nav {
        border-right: 1px solid blue;
    }
}

$our-black: rgb(51, 51, 51);

#footer {
    position: fixed;
    width: 100%;
    background-color: $our-black;
    min-height: 50px;
    bottom: 0;
    left: 0;

    .button {
        top: 5px;
        max-height: 45px;
        color: white;
        font-size: 14pt;
        font-style: bold;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
    }

    $button_hmargin: 10px;

    #button-logout {
        position: absolute;
        left: 0;
        background-image: linear-gradient(maroon, red);
        margin-left: $button_hmargin;
        border: 1px solid red;
    }

    #button-search-patient {
        position: absolute;
        right: 0;
        background-image: linear-gradient(green, lightgreen);
        margin-right: $button_hmargin;
        border: 1px solid lightgreen;
    }
}